<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Trang chủ</title>
    <link href="StyleTrangChu.css" rel="stylesheet" />
    <link href="StyleMenu.css" rel="stylesheet" />
</head>
<body>
    <section id="Slider">
        <div class="Slider container">
            <!--<img src="Hinh anh/quang cao1.jpg" />-->
            <!--<img src="Hinh anh/quangcao2.jpg" />-->
            <img src="hinh anh/quangcao3.jpg" />
        </div>
    </section>
    <nav class="menu">
        <ul>
            <li>
                <a href="#">Sản phẩm</a>
                <ul>
                    <li><a href="#">Sản phẩm HOT</a></li>
                    <li><a href="#">Sản phẩm Sale</a></li>
                </ul>
            </li>
            <li><a href="GioHang.html">Giỏ hàng</a></li>
            <li><a href="ThanhToan.html">Thanh Toán</a></li>
            <li><a href="DangNhap.html">Đăng Nhập</a></li>
            <li><a href="HoiDap.html">Hỏi đáp</a></li>
        </ul>
    </nav>
    <aside>
        <ul class="VMenu">
            <li><a href="Giay2(test).html">Giày cầu lông</a></li>
            <li><a href="#1">Áo cầu lông</a></li>
            <li><a href="#1">Vợt cầu lông</a></li>
            <li><a href="#1">Phụ kiện cầu lông</a></li>
        </ul>
    </aside>
    <footer>Huflit@2022.All right reserved</footer>
    <!--<script>
        const { left } = require("/core")
        const imgPosition = document.querySelectorAll(".aspect-radio-169 img")
        const imgPosition = document.querySelectorAll(".aspect-radio-169 ")
        left index = 0
        left imgNuber = imgPosition.length
        imgPosition.forEach(function (image,index) {
            image.style.left=index*100 + "%"
        })
        function imgSlide() {
            index++;
            console.log(index)
            if (index >= imgNuber) {
                index = 0;
            }
            function slider(index) {imgContainer.style.left = "." + index*100 + "%"}
        }
        setInterval(imgSlide,5000)
    </script>-->
</body>
</html>